<!doctype html>
<html>
    <head>
        <title>SRP</title>
        
    </head>
    <body>
        <div id="login-box">
            <div class="form-line">
                <input type="text" name="login" placeholder="Login:" />
            </div>
            <div class="form-line">
                <input type="password" name="password" placeholder="Password:" />
            </div>
            <div class="form-line">
                <button>Login</button>
            </div>
            <a class="registration" href="/registration">Registration</a>
        </div>

       

        <script type="text/javascript" src="static/js/ssrp-1.0.0.min.js"></script>
        <script type="text/javascript" src="static/js/main.js"></script>
        <script type="text/javascript" src="static/js/login.js"></script>

    </body>
</html>

